<%- include('../../partials/header.ejs')%>
<body>
  <%- include('../../partials/navbar.ejs')%>
  <div class="container my-5">
    <div class="card">
      <div class="card-header">
        <h2>Cadastrar Categorias</h2>
      </div>
      <div class="card-body">
        <form action="/categories/save" method="POST">
          <input
            type="text"
            class="form-control"
            placeholder="Digite uma categoria"
            name="title"
            required
          />

          <br />
          <button class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs')%>
