<nav class="navbar navbar-light bg-dark">
  <a href="/" class="navbar-brand"
    ><i style="text-decoration: dotted; color: white">RETORNAR AO INÍCIO</i></a
  >
  <ul class="navbar">
    <a
      href="/admin/categories"
      class="nav-tem navbar-end text-white"
      style="margin-right: 15px"
      >Categorias</a
    >
    <a
      href="/admin/users"
      class="nav-tem navbar-end text-white"
      style="margin-right: 15px"
      >Usuários</a
    >
    <a href="/admin/articles" class="nav-tem navbar-end text-white">Artigos</a>
    <a
      href="#"
      class="nav-tem navbar-end text-white mx-3"
      style="text-decoration: none"
      >GUIAPRESS</a
    >
  </ul>
</nav>
