<%- include('../../partials/header.ejs')%>
<body>
  <%- include('../../partials/navbar.ejs')%>
  <div class="container my-5">
    <div class="card">
      <div class="card-header">
        <h2>Cadastrar Usuário</h2>
      </div>
      <div class="card-body">
        <form action="/users/create" method="POST">
          <label for="email">Digite o seu e-mail:</label> <br />
          <input
            type="text"
            class="form-control"
            placeholder="Digite o seu e-mail"
            name="email"
            required
          />
          <br />
          <label for="password">Digite a sua senha</label> <br />
          <input
            type="password"
            name="password"
            required
            placeholder="************"
            class="form-control"
          />
          <br />
          <button class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs')%>
